.wrapper{
    width: 100vw;
    height: 100vh;
    background: #282c34
}
.bottom{
    width: 100vw;
    height: 15vh;
    background: #769bad;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.link{
    font-size: 4vh;
    color: white;
    text-decoration: none;
}
