.wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.wrapImg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.link{
    position: fixed;
    left:15vw;
    width: 17vw;
    height: 8vh;
}
.left{
    position: fixed;
    color: black;
    background: white;
    width: 5vw;
    height: 94vh;
    top: 6.8vh;
    transition: all 0.3s ease;
}
.lCon{
    position: relative;
    top: 10vh;
    display: flex;
    align-items: center;
}
.lCon p{
    opacity: 0;
    transition: all 0.3s ease;
    width: 0;
}
.lCon img{
    width: 2vw;
    height: 3vh;
    opacity: 1;
    margin: 0 0.6vw 0 1.2vw;
}
.left:hover p{
    opacity: 1;
}


.left:hover{
    width: 12vw;
}